* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #E8E8E8;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
}

body .container {
  height: 125px;
  max-width: 545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .textContainer .input-text-container {
  width: 480px;
  height: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

body .container .textContainer .input-text-container .pswdInput {
  margin: 0;
  padding: 0;
  width: 440px;
  height: 50px;
  background-color: white;
  border: none;
  font-size: 20px;
  text-align: center;
  outline: none;
  font-family: 'Lato', sans-serif;
}

body .container .textContainer .input-text-container .progress {
  height: 3px;
  width: 100%;
  background-color: #70cf78;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

body .container .textContainer .input-text-container .red {
  background-color: #fa5353;
  width: 20%;
}

body .container .textContainer .input-text-container .orange {
  background-color: #ffad41;
  width: 50%;
}

body .container .textContainer .input-text-container .green {
  width: 100%;
  background-color: #70cf78;
}

body .container .textContainer .refresh-copy {
  max-width: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .container .textContainer .refresh-copy .copy, body .container .textContainer .refresh-copy .refresh {
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #c4c4c4;
}

body .container .textContainer .refresh-copy .copy i, body .container .textContainer .refresh-copy .refresh i {
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

body .container .slider-counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .slider-counter-container .slider-container {
  max-width: 480px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .slider-counter-container .slider-container .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  max-width: 440px;
  width: 100%;
  height: 5px;
  background: #c4c4c4;
  outline: none;
  border-radius: 50px;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

body .container .slider-counter-container .slider-container .slider:hover {
  opacity: 1;
}

body .container .slider-counter-container .slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  position: relative;
}

body .container .slider-counter-container .slider-container .slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #4CAF50;
  cursor: pointer;
}

body .container .slider-counter-container .counter-container {
  max-width: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .checkboxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .checkboxes .box {
  max-width: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .checkboxes .box .checkbox-custom {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #70cf78;
  font-size: 13px;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

body .container .checkboxes .box .unChecked {
  color: transparent;
  font-size: 0;
}
/*# sourceMappingURL=style.css.map */